
@use "mixins" as *;

#about-us{
    
    .title-block,
    .review-photo-card,
    .bg-image,
    .place-for-pagination,
    .review-card {
        transition: opacity 0.4s ease;
    }

    .photo-review{
        transition: transform 0.4s ease;
    }
    &:has(.review-photo-card.active){
        .title-block{
            opacity: 0.4;
        }
        .review-photo-card{
            opacity: 0.4;
        }
        .bg-image{
            opacity: 0.4;
        }
        .place-for-pagination{
            opacity: 0.4;
        }
        .review-photo-card.active{
            opacity: 1;
            .review-card{
                opacity: 0.4;
            }
        }
    }
    overflow: hidden;

    .about-us-swiper{
        overflow: unset;
    }

    .bg-image{
        object-fit: unset;
    }

    .swiper-slide{
        width: fit-content!important;
    }

    .review-photo-card{
        position: relative;

        width: 706px;

        @include mobile{
            width: 330px;
        }
        margin: 5% 0;
        .photo-review{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 120%;
            aspect-ratio: 3 / 5;
            overflow: hidden;
            border-radius: 32px;
            min-width: 33%;
            max-width: 33%;
            @include mobile{
                position: absolute;
                z-index: -2;
                left: 20px;
                top: -78%;
                bottom: auto;
                right: auto;
                width: auto;
                max-width: 100%;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }


            &.active{
                transform: scale(1.5);
                z-index: 5;
                @include mobile{
                    transform: scale(1.3) translate(30%, 0);
                }
            }
        }
    }
    .review-card{
        width: 80%;
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;

        // padding-right: 33%;
        @include mobile{
            margin-top: 70%;
            width: 100%;
        }
        

        .bg-image {
            img{
                height: 100%;
                width: 100%;

                &.desktop{
                    @include mobile{
                        display: none;
                    }
                }
                &.mobile{
                    display: none;
                    @include mobile{
                        display: block;
                    }
                }
            }
        }
    }

    .review-content{
        margin: 10%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;


        .review-part{
            display: flex;
            flex-direction: column;
            gap: 8px;
            .stars{
                display: flex;
                align-items: center;

                .rating{
                    margin-left: 8px;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .name{
                font-weight: 600;
                font-size: 24px;
            }

            .role{
                opacity: 0.5;
                font-weight: 400;
                font-size: 15px;
            }

            .review-text{
                font-weight: 300;
                font-size: 15px;
            }
        }

    }
    

}
