
@use "mixins" as *;

#built-solution {

    .content{
        overflow: hidden;
    }
    .slider-built-solution {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;


        .text-infortion-slider{
            position: absolute;
            right: 0;
            top: 0;
            margin-left:  auto;
            margin-right: 40px;
            display: flex;
            height: 100px;

            @include mobile {
                display: none;
            }


        }

        .text-slide{

            .text-block{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 8px;
                h3{
                    font-weight: 600;
                    font-size: 20px;

                }
                span{
                    font-weight: 400;
                    font-size: 16px;
                    opacity: 0.5;
                }
            }
        }



        .tablet-wrapper {
            position: relative;
            width: 100%;
            max-width: 100%;

            @include mobile {
                width: 155%;
                max-width: 155%;
            }
        
            .bs-swiper-button-prev{
                position: absolute;
                display: flex;
                aspect-ratio: 1;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 44px;
                z-index: 10;
                left: 11%;
                @include mobile {
                    display: none;
                }
            }
            .bs-swiper-button-next{
                position: absolute;
                display: flex;
                aspect-ratio: 1;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 44px;
                z-index: 10;
                right: 13%;
                @include mobile {
                    display: none;
                }
            }
        }

    }


    // САМ СЛАЙДЕР (внутри экрана)
    .bs-swiper {
        position: absolute;
        inset: 0;
        width: 63%;
        margin-top: 7%;
        aspect-ratio: 16 / 9;
        z-index: 1;
        border-radius: 20px;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .text-slider-mobile{
        display: flex;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;


        @include desktop {
            display: none;
        }
        @include tablet {
            display: none;
        }

        .bs-text-swiper-mobile{
            .swiper-slide{
                display: flex;
                justify-content: center;

                .text-block{
                    align-items: center;
                }
            }

            .bs-swiper-button-prev{
                position: absolute;
                display: flex;
                aspect-ratio: 1;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 44px;
                z-index: 10;
                left: 11%;
            }
            .bs-swiper-button-next{
                position: absolute;
                display: flex;
                aspect-ratio: 1;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 44px;
                z-index: 10;
                right: 13%;
            }
        }

    }

    .bs-swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    // РАМКА ПЛАНШЕТА
    .tablet-image {
        position: relative;
        width: 100%;
        z-index: 5;
        pointer-events: none;
        display: block;
    }
}