@use "mixins" as *;

#core-expertise{
    

    .place-for-pagination{
        margin-top: 20px;
    }
    .swiper-slide{
        width: fit-content!important;

    }
    .card-service{

        width: 736px;
        position: relative;
        padding: 13% 15%;
        margin: 20px;
        @include mobile{
            width: 322px;
            margin: 57px 20px;
        }
            

       
        .layer-bg{
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 100%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                scale: 1.15;

                &.mobile{
                    display: none;
                    @include mobile{
                        display: block;
                         scale: 1.4;
                    }
                }
                &.desktop{
                    @include mobile{
                        display: none;
                    }
                }
            }
        }

            

        }

        .card-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 17px;
            .card-icon{
                @include glass-effect(20px);
                width: 64px;
                height: 64px;

                @include mobile{
                    @include glass-effect(15px);
                    width: 40px;
                    height: 40px;
                }

                svg{
                    @include mobile{
                    height: 24px;
                    width: 24px;
                    }
                }
            }

            h3{
                font-weight: 500;
                font-size: 48px;
                @include mobile{
                    font-size: 24px;
                }
            }

            p{
                font-weight: 300;
                font-size: 20px;
                @include mobile{
                    font-size: 15px;
                }
            }

            .tags{
                display: flex;
                gap: 16px;

                @include mobile{
                    flex-direction: column;
                }
                .tag{
                    @include glass-effect(3em);
                    padding: 1em 2em;
                    @include mobile{
                       padding: 1em;
                    }
                }
            }
        }




}

