@use "mixins" as *;

#create-studio{
    overflow: hidden;
    .bg-image.figure{
        object-fit: contain;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        bottom: auto;
        width: auto;
        height: auto;
    }

    .bg-image.creative{
        height: fit-content;
        top: 180%;
    }

    .btn-transparent{
        display: flex;
        gap: 12px;
        align-items: center;
        span{
            font-weight: 500;
            font-size: 14px;
        }
        .circle{
               @include glass-effect();
                justify-content: center;
                background: rgb(255 255 255 / 12%);
                padding: 13px;
                max-height: 48px;
                max-width: 48px;
        }
    }

    .bg-image{
        width: 110%;
        max-width: 110%;
        margin-left: -5%;
    }


    .swiper-slide{
        width: fit-content !important;
    }

    .create-card{
        margin: 0 20px;
        .image-wrapper{
            height: 463px;
            width: 264px;
            overflow: hidden;
            border-radius: 30px;
            box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.6), inset -4px -4px 8px rgba(0, 0, 0, 0.35);
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                position: relative
            }
        }
        .card-text{
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            width: 100%;
            margin-top: 18px;
        }
    }


    .create-swiper-button-prev{
        position: absolute;
        display: flex;
        aspect-ratio: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 44px;
        z-index: 10;
        left: 20px;
    }

    .create-swiper-button-next{
        position: absolute;
        display: flex;
        aspect-ratio: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 44px;
        z-index: 10;
        right: 20px;
    }



    .anim-place{
        transform: translate(0, 100%);
        opacity: 0;
        transition: 2.4s transform ease, 0.8s opacity ease;
    }


    &.anim{
        .anim-place{
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}