@use "mixins" as *;

#ways{


    .ways-wrapper{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        position: relative;

        .ways-circle{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translate(0%,20%);
        }

        .way{
            display: flex;
            flex-direction: column-reverse;
            gap: 24px;

            .head-way{
                @include glass-effect(10px,5%,95%);
                background: #0F0F0F33;
                padding: 24px 16px;

                .folder-block{
                    height: 4px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;  
                }
            }


            .option-way{
                @include glass-effect(35px,10%,90%);
                font-weight: 400;
                font-size: 14px;
                padding: 14px 20px;
                width: fit-content;
                margin: auto;
            }

            &.pink-way{
                .option-way{
                    background: linear-gradient(0deg, rgba(245, 62, 225, 0.07), rgba(245, 62, 225, 0.07)),
                    linear-gradient(0deg, rgba(15, 15, 15, 0.2), rgba(15, 15, 15, 0.2));
                }
                .folder-block{
                    background: #F53EE1;
                }
            }

            &.purple-way{
                .option-way{
                   background: linear-gradient(0deg, rgba(103, 59, 215, 0.07), rgba(103, 59, 215, 0.07)),
                    linear-gradient(0deg, rgba(15, 15, 15, 0.2), rgba(15, 15, 15, 0.2));
                }
                .folder-block{
                    background: #6E35D9;
                }
            }

            &.orange-way{
                .option-way{
                    background: linear-gradient(0deg, rgba(250, 156, 80, 0.07), rgba(250, 156, 80, 0.07)),
                    linear-gradient(0deg, rgba(15, 15, 15, 0.2), rgba(15, 15, 15, 0.2));
                }
                .folder-block{
                    background: #FE9D4F;
                }
            }

            &.blue-way{
                .option-way{
                    background: #0F0F0F33;
                }
                .folder-block{
                    background: #57A6FB;
                }
            }
        }
    }


    .head-way-wrapper{
        position: relative;
        width: fit-content;
        margin: auto;
        .svg-way{
            z-index: -1;
        }
        .svg-way-pink{
            position: absolute;
            bottom: 50%;
            left: 100%;
            margin: auto;
        }

        .svg-way-purple{
            position: absolute;
            top: 100%;
            left: 50%;
            margin: auto;
        }

        .svg-way-orange{
            position: absolute;
            top: 100%;
            right: 50%;
            margin: auto;
        }

        .svg-way-blue{
            position: absolute;
            bottom: 50%;
            right: 100%;
            margin: auto;
        }

    }


    .side-way{
        margin-top: 50%;
    }

}